<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <ProjectUrl>https://github.com/AwMalka/caching</ProjectUrl>
  <LicenseUrl>https://github.com/AwMalka/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Danny Varod and Avi Malka</Authors>
  <Description>Aspect Oriented Caching based on PubComp.Caching.Core and PostSharp</Description>
  <Summary>Aspect Oriented Caching based on PubComp.Caching.Core and PostSharp</Summary>
  <Keywords>Cache, Caching, AOP, Aspect, Oriented, PostSharp, CacheManager, PubComp</Keywords>
</NuGetPack>