<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <ProjectUrl>https://github.com/AwMalka/caching</ProjectUrl>
  <LicenseUrl>https://github.com/AwMalka/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Danny Varod and Avi Malka</Authors>
  <Description>Caching abstraction and Cache Manager</Description>
  <Summary>Caching abstraction and Cache Manager</Summary>
  <Keywords>Cache, Caching, CacheManager, PubComp</Keywords>
</NuGetPack>