<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <ProjectUrl>https://github.com/AwMalka/caching</ProjectUrl>
  <LicenseUrl>https://github.com/AwMalka/caching/blob/master/License.txt</LicenseUrl>
  <Authors>Oren Deri, Danny Varod and Avi Malka</Authors>
  <Description>Distributed Caching based on StackExchange.Redis and Redis</Description>
  <Summary>Distributed Caching based on StackExchange.Redis and Redis</Summary>
  <Keywords>Cache, Caching, Redis, Distributed, CacheManager, PubComp</Keywords>
</NuGetPack>